services:
  meteo_collector:
    build: .
    working_dir: /opt/meteo_collector
    user: node
    container_name: meteo-collector-api
    command: npm run start:auto
    ports:
      - '8080:8080'
    volumes:
      - .:/opt/meteo_collector
    environment:
      NODE_ENV: development
      LOG_LEVEL: debug
      ENABLE_WARNINGS_STYLES_PLUGIN: true
      ICON_PATH: /local/icon/info
      ICON_MIME_TYPE: .png
      EVENT_GATEWAY:
      USER:
      PASSWORD:
      ENABLE_HA_MQTT: false
      MQTT_URL:
      MQTT_USERNAME:
      MQTT_PASSWORD:
