services:
  meteo_collector:
    build: .
    working_dir: /opt/meteo_collector
    user: node
    container_name: meteo-collector-api
    command: npm run start:auto
    ports:
      - '8080:8080'
    volumes:
      - .:/opt/meteo_collector
    environment:
      NODE_ENV: development
      LOG_LEVEL: debug
      ENABLE_WARNINGS_STYLES_PLUGIN: true
      ICON_PATH: /local/icon/info
      ICON_MIME_TYPE: .png
      EVENT_GATEWAY:
      USER:
      PASSWORD:
      ENABLE_HA_MQTT: false
      MQTT_URL:
      MQTT_USERNAME:
      MQTT_PASSWORD:
      REDIS_URL: redis://redis:6379
      ENABLE_HISTORY: true
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    container_name: meteo-collector-redis
    command: redis-server --appendonly yes
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  redisinsight:
    image: redis/redisinsight:latest
    container_name: meteo-collector-redisinsight
    restart: unless-stopped
    ports:
      - '5540:5540'
    volumes:
      - redisinsight_data:/data
    depends_on:
      - redis

volumes:
  redis_data:
  redisinsight_data: